<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
        <section name="M" type="System.Configuration.NameValueSectionHandler"/>
        <section name="P" type="System.Configuration.NameValueSectionHandler"/>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MarkerMaker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
   <M>
      <add key="ConnectionString" value="Data Source=Server01;Initial Catalog=DB_FOR_MRK;Integrated Security=True" />
      <add key ="ExtractedDir" value="\skl" />
   </M>
   <P>
      <add key="ConnectionString" value="Data Source=Server01;Initial Catalog=DB_FOR_PSD;Integrated Security=True" />
      <add key ="ExtractedDir" value="\IspList" />
   </P>
   <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="false">
    <targets>
      <target
        name="logfile"
        xsi:type="File"
        fileName="${basedir}/Logs/MarkerMakerLog.txt"
        layout="${longdate}|${level}|${logger}|${message}|${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=type,message,method}"
        keepFileOpen="false"
        archiveAboveSize="10485760"
        maxArchiveFiles="30"
        archiveFileName="${basedir}/Logs/MarkerMakerLog.{#}.txt"
        archiveNumbering="DateAndSequence"
        archiveDateFormat="yyyyMMdd"
        archiveEvery="Day"
      />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="logfile" />
    </rules>
  </nlog>
    <userSettings>
        <MarkerMaker.Properties.Settings>
            <!--<setting name="ConnectionString" serializeAs="String">
                <value>Data Source=Server01;Initial Catalog=DB_FOR_PSD;Integrated Security=True</value>
            </setting>-->
            <setting name="SharedDir" serializeAs="String">
                <value>\\Server01\MarkaMaker</value>
            </setting>
            <!--<setting name="ExtractedDir" serializeAs="String">
                <value>\skl</value>
            </setting>-->
            <setting name="SqlBulkCopyBatchSize" serializeAs="String">
                <value>100000</value>
            </setting>
            <setting name="Extension" serializeAs="String">
                <value>.zip</value>
            </setting>
        </MarkerMaker.Properties.Settings>
    </userSettings>
</configuration>