@model long
<div>
    @using (Html.BeginForm())
    {
        <h6>Вы действительно хотите удалить данный размер?</h6>
        @Html.AntiForgeryToken()
        <p><input type="submit" value="Удалить" /></p>
    }
</div>