<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IS_Notification.Properties.Settings.con_str" connectionString="Data Source=Server01;Initial Catalog=IS_Notification;Persist Security Info=True;User ID=Is_Notification_User;Password=qwerASDF1;Pooling = True;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
